<div class="container">
  <div class="message-field row">
    <div class="col-sm-offset-2 col-sm-8">
      <div class="message-show-area">
        <% @messages.each do |message| %>
          <div class="message-box clearfix">
            <% if message.body %>
              <% user = User.find(message.user_id) %>
              <% if user.id == current_user.id %>
                <div class="message-right">
                  <p>あなた</p>
                  <p><%= message.message_time %></p>
                  <p><%= message.body %></p>
                </div>
              <% else %>
                <div class="message-left">
                  <p><%= "#{user.name}さん" %></p>
                  <p><%= message.message_time %></p>
                  <p><%= message.body %></p>
                </div>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>


      <div class="message-create-area form-group">
        <%= form_with(model: @conversation, model: @message, url: conversation_messages_path, local: true) do |f| %>
          <%= f.text_area :body, :size => "40x3", class:"form-control"%>
          <%= f.text_field :user_id, value: current_user.id, type: "hidden"%><br>
          <p><%= f.submit "メッセージを送る", class:"btn btn-primary" %></p>
        <% end %>
      </div>
      <div class="landmark"></div>
    </div>
  </div>
</div>
