<h3>ログイン</h3>
<div style="text-align: center;">
  <% flash.each do |key, value| %>
    <%= content_tag(:div, value, class: "#{key}") %>
  <% end %>
  <%= form_with(scope: :session, url: sessions_path) do |f| %>
    <p><%= f.label :メールアドレス %></p>
    <p><%= f.email_field :email %></p>
    <p><%= f.label :パスワード %></p>
    <p><%= f.password_field :password %></p>
    <p><%= f.submit "ログイン" %></p>
  <% end %>
</div>
