<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <h3>メッセージ履歴</h3>
      <% @conversations.each do |conversation| %>
        <div class="conversation-area">
          <% if conversation.target_user(current_user).present? %>
            <% if conversation.target_user(current_user).image.present? %>
              <%= image_tag conversation.target_user(current_user).image_url, :size => '70x70' %>
            <% else %>
              <%= image_tag '/initial.png', :size => '70x70' %>
            <% end %>　　
            <span class="message-link">
              <%= link_to "#{conversation.target_user(current_user).name}さん", conversation_messages_path(conversation), style:"color: #364F6B;", method: :get %>
              <% if conversation.target_user(current_user).sort == 2 %>
              <span>
                　<%= image_tag '/mark_maru.png', :size => '40x40' %>
              </span>
              <% end %>
            </span>
          <% end %>
          <p><%= link_to '削除', conversation, method: :delete, data: { confirm: '削除していいですか?'}, class: 'btn btn-danger' %></p>
        </div>
      <% end %>
    </div>
    <div class="row"></div>
  </div>
</div>
