<div class="signup-area">
  <%= form_with(model: @user, local: true) do |f| %>
    <p><%= f.label :名前 %></p>
    <p><%= f.text_field :name, size:"60x5" %></p>
    <p><%= f.label :年齢 %></p>
    <p><%= f.text_field :age, size:"60x5" %></p>
    <p><%= f.label :性別%></p>
    <p><%= f.select :gender, [["男性", "0"], ["女性", "1"], ["その他", "2"]] %></p>
    <p><%= f.radio_button :sort, "1" %>　一般ユーザーの方</p>
    <p><%= f.radio_button :sort, "2" %>　通訳の方</p>
    <p><%= f.label :メールアドレス %></p>
    <p><%= f.email_field :email, size:"60x5" %></p>
    <p><%= f.label :パスワード %></p>
    <p><%= f.password_field :password, size:"60x5" %></p>
    <p><%= f.label :パスワード確認 %></p>
    <p><%= f.password_field :password_comfirmaiton, size:"60x5" %></p>
    <p><%= f.label :ユーザー画像（任意） %></p>
    <p><%= f.file_field :image, id: :user_image %></p>
    <p><%= f.label :通訳をご選択の方は簡単に経験をご記入下さい %></p>
    <p><%= f.text_area :experience, size: '60x2' %></p>
    <p><%= f.submit "登録" , class:"btn btn-primary"%></p>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
