<div style="padding-left: 50px;">
  <%= form_with(model: @user, local: true) do |f| %>
    <%= f.label :名前 %><br>
    <%= f.text_field :name %><br>
    <%= f.label :年齢 %><br>
    <%= f.text_field :age %><br>
    <%= f.label :性別%><br>
    <%= f.select :gender, [["男性", "0"], ["女性", "1"], ["その他", "2"]] %><br>
    <label><%= f.radio_button :sort, "1" %>一般ユーザーの方</label>
    <label><%= f.radio_button :sort, "2" %>通訳の方</label><br>
    <%= f.label :メールアドレス %><br>
    <%= f.email_field :email %><br>
    <%= f.label :パスワード %><br>
    <%= f.password_field :password %><br>
    <%= f.label :パスワード確認 %><br>
    <%= f.password_field :password_comfirmaiton %><br>
    <%= f.label :ユーザー画像（任意） %><br>
    <%= f.file_field :image, id: :user_image %><br>
    <%= f.label :通訳をご選択の方は簡単に経験をご記入下さい %><br>
    <%= f.text_area :experience, :size => '40x5' %><br>
    <%= f.submit "登録" %>

    <% if @user.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@user.errors.count, "error") %> prohibited this @user from being saved:</h2>
        <ul>
        <% @user.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>
  <% end %>
</div>
