<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10" style="margin-bottom: 20px;">
      <p class="switching-btn"><%= link_to "通訳者のみ表示", interpreter_users_path, class:"btn btn-info btn-md" %></p>
      <%= form_tag(users_path, method: :get, style:"padding-bottom: 20px;") do %>
        <%= render 'search' %>
      <% end %>
      <%= page_entries_info @users %>
      <%= render 'users' %>
      <%= paginate @users %>
    </div>
    <div class="row"></div>
  </div>
</div>
