<div class="container">
  <div class="row">
    <div class="col-sm-offset-1 col-sm-10" style="margin-bottom: 20px;">
      <p class="switching-btn"><%= link_to "全てのユーザーを表示", users_path, class:"btn btn-info btn-md" %></p>
      <%= form_tag(interpreter_users_path, method: :get, style:"padding-bottom: 20px;") do %>
        <%= render 'search' %>
      <% end %>
      <%= page_entries_info @interpreters %>
      <div class="clearfix">
        <% @interpreters.order(name: :asc).each do |interpreter| %>
          <div class="interpreter-area clearfix">
            <div class="image-area">
              <% if interpreter.image.present? %>
                <%= image_tag interpreter.image_url, :size => '70x70' %>
              <% else %>
                <%= image_tag '/initial.png', :size => '70x70' %>
              <% end %>
            </div>
            <div class="users-user-index">
              <p>
                <%= link_to "#{interpreter.name}さん", user_path(interpreter.id) %>
                <span>　<%= image_tag '/mark_maru.png', :size => '30x30' %></span>
              </p>
              <p>性別:
                <% if interpreter.gender == 0 %>
                  <%= "男性 "%>
                  <% elsif interpreter.gender == 1%>
                    <%= "女性" %>
                  <% else %>
                    <%= "その他" %>
                  <% end %>
                </p>
                <%= render 'follow_form', user: interpreter %>
              </div>
            </div>
          <% end %>
        </div>
        <%= paginate @interpreters %>
    </div>
  </div>
</div>
