<h3>通訳の方一覧</h3>
<%= form_tag(interpreter_path, method: :get, style:"padding-bottom: 20px;") do %>
  <p>名前検索</p>
  <%= text_field_tag :search %>
  <%= submit_tag '検索', :name => nil %>
<% end %>

<%= page_entries_info @interpreters %>
<div>
  <% @interpreters.order(name: :asc).each do |interpreter| %>
    <div class="interpreter-area clearfix">
      <div class="image-area">
        <% if interpreter.image.present? %>
          <%= image_tag interpreter.image_url, :size => '70x70' %>
        <% else %>
          <%= image_tag 'default.png', :size => '70x70' %>
        <% end %>
      </div>
      <div class="user-info">
        <span><%= link_to "ユーザー名: #{interpreter.name}さん", user_path(interpreter.id), style:"color: #364F6B;" %></span><br>
        <span>性別:
          <% if interpreter.gender == 0 %>
            <%= "男性 "%>
            <% elsif interpreter.gender == 1%>
              <%= "女性" %>
            <% else %>
              <%= "その他" %>
            <% end %>
          </span><br>
          <span>手話経験</span><br>
          <span><%= link_to "#{truncate(interpreter.experience, length: 50)}", user_path(interpreter.id) %></span>
        </div>
      </div>
    <% end %>
</div>
  <%= paginate @interpreters %>
