<div class="container">
  <div class="row">
    <h3>プロフィール</h3>
    <div class="user-self-area col-xs-5 col-sm-4">
      <div class="user-box1 clearfix">
        <div class="image-area">
          <% if @user.image.present? %>
            <%= image_tag @user.image_url, :size => '70x70' %>
          <% else %>
            <%= image_tag '/initial.png', :size => '70x70' %>
          <% end %>
        </div>
        <div class="users-user-info">
          <p><%= render 'follow_form', user: @user %></p>
          <p>名前: <%= @user.name %></p>
          <p>年齢: <%= @user.age %></p>
          <p>性別:
            <% if @user.gender == 0 %>
              <%= "男性 "%>
            <% elsif @user.gender == 1%>
              <%= "女性" %>
            <% else %>
              <%= "その他" %>
            <% end %>
          </p>
          <p>ユーザー属性:
            <% if @user.sort == 1 %>
              <%= "一般ユーザー" %>
            <% else %>
              <%= "通訳者" %>　<%= image_tag '/mark_maru.png', :size => '35x35' %>
            <% end %>
          </p>
            <% if current_user.id == @user.id %>
              <p><%= link_to "メッセージ一履歴", conversations_path %></p>
            <% end %>
          </div>
        </div>
        <div class="clearfix">
          <div style="float: left;">
            <% if logged_in? && current_user.id != @user.id  %>
              <%= link_to image_tag('/message.png'), conversations_path(sender_id: current_user.id, recipient_id: @user.id), method: :post %>
            <% elsif current_user.id == @user.id %>
              <%= link_to "編集", edit_user_path(@user.id), class: 'btn btn-default btn-sm' %>
            <% end %>
          </div>
          <div class="follow-count">
            <%= link_to "フォロー：#{@follow}人", follow_user_path(@user.id) %>
          </div>
          <div class="follow-count">
            <%= link_to "フォロワー：#{@follower}人", follower_user_path(@user.id) %>
          </div>
        </div>
        <div class="experience-area">
          <% if @user.experience.present? %>
            <p style="font-size: 15px">手話経験</p>
            <p style="word-break:break-all; word-wrap:break-word; display: inline-block; ">
              <%= @user.experience %>
            </p>
          <% end %>
        </div>
      </div>
      <!-- ここまでプロフィールエリア -->

      <div class="content-area col-xs-7 col-sm-offset-1 col-sm-6">
        <h3>投稿履歴</h3>
        <p class="page-entries-info clearfix"><%= page_entries_info @user_posted %></p>
        <% @user_posted.each do |post| %>
          <div class="post-content">
            <p>タイトル: <%= link_to cut_off("#{post.title}", 20), post_path(post.id) %></p>
            <p>希望日: <%= simple_time post.requested_date %></p>
            <p>投稿日: <%= simple_time post.created_at %></p>
          </div>
        <% end %>
        <%= paginate @user_posted %>
      </div>
    </div>
  </div>
