<div class="container">
  <div class="row">
    <div class="col-sm-offset-2 col-sm-8">
      <%= form_with(model: @post, local: true) do |f| %>
        <div class="post-form form-group">
          <% if @post.errors.any? %>
            <div id="error_explanation">
              <h2><%= @post.errors.count %>件のエラーがあります。</h2>
              <ul>
                <% @post.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
                <% end %>
              </ul>
            </div>
          <% end %>
            <div class="form-area">
              <p><%= f.label :タイトル%></p>
              <p><%= f.text_area :title, class:"form-control" %></p>
              <p><%= f.label :希望日 %></p>
              <p><%= raw sprintf( f.datetime_select( :requested_date, discard_minute: true, discard_hour: true, use_month_numbers: true, date_separator: '%s'), '年', '月') + '日' %></p>
              <p><%= f.label :依頼内容 %></p>
              <p><%= f.text_area :content, class:"form-control" %></p>
            <div class="submit-button">
              <%= f.submit :保存, data: { confirm: '投稿していいですか?'}, class:"btn btn-primary" %>
              <%= link_to "戻る", posts_path, class:"btn btn-default" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
