<h3>投稿一覧</h3>
  <p class="page_entries_info"><%= page_entries_info @posts %><p>
  <% @posts.reverse_order.each do |post|%>
    <div class="post_content">
      <p>投稿日: <%= simple_time post.created_at %></p><br>
      <p><%= link_to "投稿者: #{post.user.name} さん", user_path(post.user_id) %></p>
      <p>タイトル: <%= link_to cut_off("#{post.title}", 20), post_path(post.id) %></p><br>
      <p>希望日: <%= simple_time post.requested_date %></p>
        <% if post.user == current_user %>
          <p>
            <%= link_to '編集', edit_post_path(post.id), class: 'btn btn-default' %>  |
            <%= link_to '削除', post, method: :delete, data: { confirm: '削除していいですか?'}, class: 'btn btn-danger' %>
          </>
        <% end %>
    </div>
  <% end %>
  <%= paginate @posts %>
